<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>
	   <div id="header">
<div id="header-inner">
<div id="logo">
                 <a href="#" th:href="@{/}"> <img src="../../static/images/logo_true.png" 
                     th:src="@{/images/logo_true.png}" /></a>
</div>
	  <div id="main-page">
	  <ul>
		  <li><a th:href="@{/doctor/list}">Doctors List</a></li>
		  <li>|</li>
		  <li><a th:href="@{/doctor/add}">Add Doctor</a></li>
		  <li>|</li>
		  <li><a th:href="@{/patient/list}">Patients List</a></li>
		  <li>|</li>
		  <li><a th:href="@{/patient/add}">Add Patient</a></li>
	  </ul>
	  </div>
    </div>
</div>
</body>
</html>