<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="comm">
<div id="list-table">
    <div th:if="${not #lists.isEmpty(comments)}">
        <h2 class="text-center">Comments</h2>
        <table class="table table-hover table-bordered" id="sort">
            <tr class="info" th:each="comment : ${comments}">
                <th class="text-center">Author</th>
                <td class="text-center"><a th:href="${'/doctor/info/' + comment.authorId}" th:text="${comment.author}"></a></td>
                <th class="text-center">Date Create</th>
                <td class="text-center" th:text="${#dates.format(comment.dateCreate, 'dd.MM.yyyy HH:mm')}"></td>
                <th class="text-center">Last Editor</th>
                <td class="text-center"><a th:href="${'/doctor/info/' + comment.lastEditorId}" th:text="${comment.lastEditor}"></a></td>
                <th class="text-center">Last Changes</th>
                <td class="text-center" th:text="${#dates.format(comment.dateLastChange, 'dd.MM.yyyy HH:mm')}"></td>

                <td class="text-center"><a data-toggle="modal" data-target="#umodal" id="edit" th:onclick="'showEditModal(' + ${comment.id} + ')'">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            <tr>
                <td colspan="9" th:text="${comment.text}"></td>
            </tr>
            </tr>

        </table>
    </div>
</div>
</th:block>
</html>