<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Patient Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
<div id="header">
    <div id="header-inner">
        <div id="logo">
            <a href="#" th:href="@{/profile}"> <img src="../../static/images/logo_true.png"
                                                    th:src="@{/images/logo_true.png}" /></a>
        </div>
        <h2>Add Patient</h2>
        <div class="lin"><a th:href="@{/patient/list}">Patient List</a></div>
    </div>
</div>
<div class="container">
    <h2>Patient Details</h2>
        <form class="form-edit" th:object="${patient}" th:action="@{/patient/update}" method="post">
            <div class="form-line">
                <label class="form-text">Id:</label>
                <span><input type="text" class="form-control" th:field="*{id}"  readonly="readonly"/></span>
            </div>
            <div class="form-line">
                <label class="form-text">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" />
            </div>
            <div class="form-line">
                <label class="form-text">Surname:</label>
                <input type="text" class="form-control" th:field="*{surname}" />
            </div>
            <div class="form-input">
                <select class="form-control" name="doctorId">
                    <option value="">Select Doctor</option>
                    <option th:each="doctor : ${doctors}"
                            th:value="${doctor.id}"
                            th:text="${doctor.surname}+' : '+${doctor.position}"></option>
                </select>
            </div>
            <button type="submit" class = "button">Save</button>
        </form>
</div>
<div class="container">
    <div id="create-comment">
        <form class="form" th:object="${comment}" th:action="@{/comment/save/}" method="post">
            <span><input type="hidden" class="form-control" name="id" th:value="${patient.id}"  readonly="readonly"/></span>
            <div class="form-input">
                <textarea class="inn" th:field="*{text}" placeholder="Add"></textarea>
            </div>
            <button type="submit" class = "button">Save</button>
        </form>
    </div>
</div>
<div class="container">
    <div th:if="${not #lists.isEmpty(comments)}">
        <div th:each="comment : ${comments}">
            <p th:text="${#dates.format(comment.dateCreate, 'dd-MM-yyyy')}">Date</p>
            <p th:text="${comment.text}">Name</p>
        </div>
    </div>
</div>
</body>
</html>