<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Patient Details</title>
    <th:block th:include="layout/header"></th:block>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>
<div class="container">
    <h2>Patient Details</h2>
        <form class="form-edit" th:object="${patient}" th:action="@{/patient/updates}" method="post">
            <div class="form-line">
                <label class="form-text">Id:</label>
                <span><input type="text" class="form-control" th:field="*{id}"  readonly="readonly"/></span>
                <p th:field="*{name}"></p>
            </div>
            <div class="form-line">
                <label class="form-text">Name:</label>
                <input type="text" class="form-control" th:field="*{name}" />
            </div>
            <div class="form-line">
                <label class="form-text">Surname:</label>
                <input type="text" class="form-control" th:field="*{surname}" />
            </div>
            <div class="form-line">
                <label class="form-text">Age:</label>
                <input type="text" class="form-control" th:field="*{age}" />

            </div>
            <button type="submit" class = "button">Save</button>
        </form>
</div>
</body>
</html>