<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Patients</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
</head>
<body>
<div id="header">
    <div id="header-inner">
        <div id="logo">
            <a href="#" th:href="@{/profile}"> <img src="../../static/images/logo_true.png"
                                             th:src="@{/images/logo_true.png}" /></a>
        </div>
        <h2>Patients List</h2>
        <div class="lin"><a th:href="@{/patient/add}">Add Patient</a></div>
    </div>
</div>
<div class="container">
    <div th:if="${not #lists.isEmpty(patients)}">
        <h2>All Patients</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Date Birth</th>
                <th>Doctor Name</th>
                <th>Info</th>
            </tr>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}">Id</td>
                <td th:text="${patient.name}">Name</td>
                <td th:text="${patient.surname}">Surname</td>
                <td th:text="${patient.dateBirth}">Date Birth</td>
                <td th:text="${patient.getDoctor().name}">Doctor Name</td>
                <td><a th:href="${'/patient/info/' + patient.id}">Info</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>