<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Profile Page</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/profile}"> <img src="../../static/images/logo_true.png"
                                                    th:src="@{/images/logo_true.png}" /></a>
        </div>
        <div  class="navbar-collapse collapse">
            <ul id="bar" class="nav navbar-nav">
                <li><a th:href="@{/patient/list}">Patients List</a></li>
                <li><a th:href="@{/doctor/list}">Doctor List</a></li>
                <li><a th:href="@{/activity}">Activities</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>

<div id="profile">
    <h3 class="text-center">My profile</h3>
    <div id="toScript" th:object="${currentUser}" method="post">
        <table id="info-table">
            <tr>
                <td class="leftcol">Id:</td>
                <td class="rightcol" th:text="${currentUser.id}">Правая колонка</td>
            </tr>
            <tr>
                <td class="leftcol">Name:</td>
                <td class="rightcol" th:text="${currentUser.name}">Правая кол</td>
            </tr>
            <tr>
                <td class="leftcol">Surname:</td>
                <td class="rightcol" th:text="${currentUser.surname}">Правая колонка</td>
            </tr>
            <tr>
                <td class="leftcol">Position:</td>
                <td class="rightcol" id="position" th:text="${currentUser.position}">Правая колонка</td>
            </tr>
        </table>
    </div>
</div>
<div id="list-table">
    <div class="text-center" th:if="${not #lists.isEmpty(patients)}">
        <h2 class="text-center">Patients</h2>
        <div id="search">
            <input type="text" onkeyup="myFunctionId()"  style="width: 50%" class="form-control" id="findById" placeholder="Filter by id"/>
            <input type="text"  onkeyup="myFunctionSurName()"  style="width: 50%" class="form-control" id="findBySurName" placeholder="Filter by surname"/>
        </div>
        <table class="table table-hover table-bordered" id="sort">
            <thead>
            <tr class="info">
                <th class="text-center">Id</th>
                <th class="text-center">Surname</th>
                <th class="text-center">Name</th>
                <th class="text-center">Date Birth</th>
            </tr>
            </thead>
           <tbody>
            <tr class="text-center" th:each="patient : ${patients}">
                <td><a th:href="${'/patient/info/' + patient.id}" th:text="${patient.id}"></a></td>
                <td th:text="${patient.name}">Name</td>
                <td th:text="${patient.surname}">Surname</td>
                <td th:text="${patient.dateBirth}">Date Birth</td>
            </tr>
           </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/patient.js}"></script>
    <script type="text/javascript" th:src="@{/js/slimtable.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</div>
</body>
</html>