<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Profile Page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>

</head>
<body>
<div id="header">
    <div id="header-inner">
        <div id="logo">
            <a href="#" th:href="@{/profile}"> <img src="../../static/images/logo_true.png"
                                             th:src="@{/images/logo_true.png}"/></a>
        </div>
        <div id="main-page">
            <ul>
                <li><a th:href="@{/patient/list}">Patients List</a></li>
                <li>|</li>
                <li><a th:href="@{/doctor/list}">Doctor List</a></li>
                <li>|</li>
                <li><a th:href="@{/activity}">Activities</a></li>
                <li><a  th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h2>My profile</h2>
    <form class="form-edit" th:object="${currentUser}" th:action="@{/currentUser/update}" method="post">
        <table id="info-table">
            <tr>
                <td class="leftcol">Id:</td>
                <td class="rightcol" th:text="${currentUser.id}">Правая колонка</td>
            </tr>
            <tr>
                <td class="leftcol">Name:</td>
                <td class="rightcol" th:text="${currentUser.name}">Правая колонка</td>
            </tr>
            <tr>
                <td class="leftcol">Surname:</td>
                <td class="rightcol" th:text="${currentUser.surname}">Правая колонка</td>
            </tr>
            <tr>
                <td class="leftcol">Position:</td>
                <td class="rightcol" th:text="${currentUser.position}">Правая колонка</td>
            </tr>
        </table>
    </form>

</div>
<div th:if="${not #lists.isEmpty(patients)}">
    <h2>All Patients</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Info</th>
        </tr>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}">Id</td>
            <td th:text="${patient.name}">Name</td>
            <td th:text="${patient.surname}">Surname</td>
            <td><a th:href="${'/patient/info/' + patient.id}">Info</a></td>
        </tr>
    </table>
</div>
</body>
</html>