/*@import url(reset.css);*/

body{
    background-color: #ccc;
}
#login-form{
    background-color: white;
    /*
        margin-top:150px;
        margin-left:35%;
    */
    margin: 10% auto 0px auto;
    width: 600px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#container-login{
    margin-left: 140px;
    padding-top: 40px;
}
#container-login h2{
    margin-left: 48px;
}
#container-login button{
    margin-left: 110px;
}

.navbar-brand {
    height: 80px;
}
#input-name,#input-surname,#input-datebirth,#input-doc,
#input-login,#input-password,#input-position,#input-id{
    width: 350px;
    margin-bottom: 10px;
    float:left;
}
.nav >li >a {
    padding-top: 32px;
    padding-bottom: 40px;
    color: red;
    font-size:20px;
}
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}
#add{
    background-color: white;
    margin: 120px auto 0 auto;
    width: 35%;
    height: auto;
    box-shadow: 9px 6px 23px 0px rgba(0,0,0,0.75);
    overflow: auto;
}
#add-form{
    width: 50%;
    margin: 17px auto;
}
#add-form button{
    margin-left: 125px;
    margin-top: 10px;
}

#list-table{
    margin: 110px auto 0px auto;
    width: 65%;
    overflow: auto;
}
#profile{
    background-color: white;
    margin: 110px auto 0px auto;
    width: 30%;
    height: auto;
    box-shadow: 9px 6px 23px 0px rgba(0,0,0,0.75);
    overflow: auto;
}
#profile h3{
    padding-top: 14px;
}
#info-table{
    margin: 15px auto;
    padding-bottom: 10px;
}
#butt-comm{
    width: 135px;
    margin: 25px auto;
}
.leftcol{
    text-align: right;
    padding-right: 2px;
    font-weight: bold;
}
.rightcol{
    text-align: left;
}
.table{
    background-color: white;
    margin: 0 auto;
    width: 80%;
}
ul li h2{
    padding-top: 3px;
    color: aqua;
}
#list h2{
    padding-left: 15px;
}
.clear{
    clear:both;
    display: block;
}

.table-responsive{
    padding-top: 50px;
}
textarea{
    width: 100px;
}

#save-comment button{
    margin-left: 400px;
    margin-bottom: 20px;
}
#save-comment textarea{
    margin: 15px auto;
    width: 80%;
}
.error{
    color: red;
    float:right;
}
input.error,select.error {
    border-color: red;
    background: #fff0f0;
}
