<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Add New Doctor</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css" />
</head>
<body>
<div id="header">
    <div id="header-inner">
        <div id="logo">
            <a href="#" th:href="@{/profile}"> <img src="../../static/images/logo_true.png"
                                                    th:src="@{/images/logo_true.png}" /></a>
        </div>
        <h2>Add Patient</h2>
        <div class="lin"><a th:href="@{/doctor/list}">Doctor List</a></div>
    </div>
</div>
<div class="container">
    <form class="form" onsubmit="return save();" th:object="${doctor}" th:action="@{/doctor/save}" method="post">
        <div class="form-input">
            <input type="text" class="inn" id="name" th:field="*{name}" placeholder="Name"/>
            <span id="aftername"></span>
        </div>
        <div class="form-input">
            <input type="text" class="inn" id="surname" th:field="*{surname}" placeholder="Surname" />
            <span id="aftersurname"></span>
        </div>
        <div class="form-input">
            <input type="text" class="inn" id="login" th:field="*{login}" placeholder="Login" />
            <span id="afterlogin"></span>
        </div>
        <div class="form-input">
            <input type="text" class="inn" id="psw" th:field="*{password}" placeholder="Password" />
            <span id="afterpsw"></span>
        </div>
        <div class="form-input">
            <input type="text" class="inn" id="pos" th:field="*{position}" placeholder="Position" />
            <span id="afterposition"></span>
        </div>
        <button type="submit" class = "button" >Save</button>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/doctor.js}"></script>
</body>
</html>