<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Doctors</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>
<div id="header">
    <div id="header-inner">
        <div id="logo">
            <a href="#" th:href="@{/}"> <img src="../../static/images/logo_true.png"
                                             th:src="@{/images/logo_true.png}" /></a>
        </div>
        <h2>Doctors List</h2>
        <div class="lin"><a th:href="@{/doctor/add}">Add Doctor</a></div>
    </div>
</div>
<div class="container">
    <div th:if="${not #lists.isEmpty(doctors)}">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Count</th>
                <th>Edit</th>
            </tr>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}">Id</td>
                <td th:text="${doctor.name}">Name</td>
                <td th:text="${doctor.surname}">Surname</td>
                <td th:text="${doctor.age}">Age</td>
                <td th:text="${doctor.getPatients().size()}">Count</td>
                <td><a th:href="${'/doctor/edit/' + doctor.id}">Edit</a></td>
            </tr>
        </table>
	</div>
</div>
</body>
</html>